<!-- <div class="card card-space" style="width: 90%; margin: auto;">
  <img src="{{ post['image'] }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Post Title : {{post.get('title','No Title')}}</h5>
    <p class="card-text">Details in Brief: {{post.get('content','No Content')[:100]}} ...</p>
  </div>
  <ul class="list-group list-group-flush  ">
    <li class="list-group-item text-end" style="border:none;">
  <span style="float:left;">{{post.get('author','No author')}}</span>
  <span style="float: right;">{{post.get('dateTime','No Date')}}</span>
  </li>
    <li class="list-group-item text-start">
                     <div class="like"><span><img height=25 style="margin-right: 4px;" src="{% static 'images/like.png' %}"></span>Like</div>
                     <div class="followed"><span><img height=25 style="margin-right: 4px;" src="{% static 'images/followers.png'%}"></span>Follwed</div> 
     
  </ul>
  
</div> -->
